<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
     <link  rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
{% for art in arts %}
        <div class="col-6">
            {% block content %}
            <div class="alert-warning">



<b>Article title: </b>{{art.title}} <br>

<b>Description: </b>  {{art.description}}<br>
                {{art.comment.comment_text}}
               <img src="{{art.image.url}}" alt="" height="50px" >
                </div>
            {% endblock %}
{% endfor %}

            <a href="{% url 'home' %}">Back home</a>
</body>
</html>