{% load static %}


<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link  rel="stylesheet" href="{% static 'main.css' %}" >
    <link  rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title></title>
</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="/">
        ALL users
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'crete-new-user' %}">Create new user <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'ar' %}">All articles</a>
        </li>
<!--        <li class="nav-item">-->
<!--          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>-->
<!--        </li>-->
      </ul>
<!--      <form class="form-inline mt-2 mt-md-0">-->
<!--        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">-->
<!--        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
      </form>
    </div>
  </nav>
    <div class="row">

    {% for user in users %}
        <div class="col-6">
<!--<a href="{% url 'get-user' username=user.username %}" > {{user.username}}</a>-->

<b>Username: </b>{{ user }} <br>
<b>Name: </b>{{user.first_name}} {{user.last_name}} <br>
<b>Email: </b>{{user.email}} <br></a>
            <a href="{% url 'update_user' pk=user.pk}">Update</a>
{{user.profile.avatar}}

    </div>
    {% endfor %}
        </div>
<!--    <div style="" >-->
<!--    {% include 'create_article.html' %}-->
<!--    {% include 'create_user.html' %}-->
<!--        </div>-->
</body>
</html>
