<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
</head>
<body>
    {{users}}
    {% for user in users %}
<a href="/users/{{user}}/"> <h1 style="color: blueviolet">Information about user</h1>
<b>Username: </b>{{ user }} <br>
<b>Name: </b>{{user.first_name}} {{user.last_name}} <br>
<b>Email: </b>{{user.email}} <br></a>

    {% endfor %}

</body>
</html>


<