<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
    <style>
        body {
            background-image: url(
            https://cdnuploads.aa.com.tr/uploads/Contents/2020/05/14/thumbs_b_c_88bedbc66bb57f0e884555e8250ae5f9.jpg?v=140708
            );
        }
    </style>
</head>
<body>
    <div style="background: white;">
    {% for user in users %}

        <h1 style="color: red;">Profile:</h1>
        <b>Email: </b>{{ user.email }} <br>
        <b>Username: </b>{{ user.username }} <br>
        <b>First Name: </b>{{ user.first_name }} <br>
        <b>Last Name: </b>{{ user.last_name }} <br>
            <hr>

    {% endfor %}
    </div>
</body>
</html>