{% extends 'base.html' %}

{% block title %}
Profiles
{% endblock %}

{% block content %}
<h5 style="font-size: 13px"><strong>Count users ({{ users.all.count }})</strong></h5>
<div class="container">
        <div class="row">
        {% for user in users %}
            <div class="col-3">
                <h1><a href="{% url 'get-user' username=user.username %}">Profile:</a></h1>
                <b>Email: </b>{{ user.email }} <br>
                <b>Username: </b>{{ user.username }} <br>
                <b>First Name: </b>{{ user.first_name }} <br>
                <b>Last Name: </b>{{ user.last_name }} <br>
                {% if user.profile.avatar %}
                    <b>Avatar: </b><img style="border: 2px solid blue;" src="{{ user.profile.avatar.url }}" alt="" height="30px"><br>
                {% else %}
                    <b>Avatar: None</b>
                {% endif %}
            </div>
        {% endfor %}
        </div>
    </div>
<p align="right"><a class="btn btn-outline-primary" href="{% url 'home' %}">Back to main</a></p>
{% endblock %}