body {
        background-color: red;
        background-image: url(
        https://cdnuploads.aa.com.tr/uploads/Contents/2020/05/14/thumbs_b_c_88bedbc66bb57f0e884555e8250ae5f9.jpg?v=140708
    );
}
h1 {
    color: red;
}