<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div class="container d-flex flex-column flex-md-row justify-content-between">
        <a class="py-2" href="#" aria-label="Product">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="d-block mx-auto" role="img" viewBox="0 0 24 24" focusable="false"><title>Product</title><circle cx="12" cy="12" r="10"></circle><path d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94"></path></svg>
        </a>
        <a class="py-2 d-none d-md-inline-block" href="{% url 'home' %}">Menu</a>
        <a class="py-2 d-none d-md-inline-block" href="{% url 'about' %}">Product</a>
        <a class="py-2 d-none d-md-inline-block" href="{% url 'about' %}">Features</a>
        <a class="py-2 d-none d-md-inline-block" href="{% url 'about' %}">Enterprise</a>
        <a class="py-2 d-none d-md-inline-block" href="{% url 'about' %}">Support</a>
        <a class="py-2 d-none d-md-inline-block" href="{% url 'about' %}">Pricing</a>
        <a class="py-2 d-none d-md-inline-block" href="{% url 'about' %}">Cart
            <a class="py-2 text-dark" href="{% url 'create' %}">Создать таск</a>
    </div>

    <div class="container">
        {% block content %}{% endblock %}
    <div>
</body>
</html>