{% extends 'main/base.html' %}

{% block title %}
Добавление продукта
{% endblock %}

{% block content %}
    <h1>Редактирование продукта</h1><br>
    <form method="POST">
        {% csrf_token %}
        <label>Введите название:</label>
        <input type="text" value="{{product.name}}" name="name" placeholder="Введите название" class="form-control"><br>
        <label>Введите цену:</label>
        <input type="number" value="{{product.price}}" name="price" placeholder="Введите цену" class="form-control"><br>
        <label>Введите количество:</label>
        <input type="number" value="{{product.quantity}}" name="quantity" placeholder="Введите количество" class="form-control"><br>
        <label>Введите комментарий:</label>
        <input type="text" value="{{product.comment}}" name="comment" placeholder="Введите комментарий" class="form-control"><br>
        <button type="submit" class="btn btn-success">Сохранить</button>
        <span>{{ error }}</span>
    </form>
{% endblock %}
